<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Karman Kar Shows & Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='KarmanKarShowsLogo.png') }}" alt="Karman Kar Shows Logo">
    <h1>Karman Kar Shows & Events</h1>
</header>
<main>
    <p>We organize car shows for all types of vehicles. Many shows support charities and fundraisers.</p>
</main>
</body>
</html>


